@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight:bold;">Welcome To The Library</h1>
    <br/>
    <p><img src="~/booksphoto.jpg" style="border: solid 3px black;border-radius: 10px;"></p>
</div>
